.user-div {
    width: 47rem;
    margin: 1rem;
    padding: 2px 10px;
    border: 1px solid #000;
    background-color: aqua;
    border-radius: 5px;
}

.user-div h4 {
    display: inline-block;
    margin-right: 30px;
}